@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/OpenSans-Regular/OpenSans-Regular.woff2')
      format('woff2'),
    url('/fonts/OpenSans-Regular/OpenSans-Regular.woff')
      format('woff'),
    url('/fonts/OpenSans-Regular/OpenSans-Regular.eot') format('eot');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff2')
      format('woff2'),
    url('/fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff')
      format('woff'),
    url('/fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot')
      format('eot');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2'),
    url('/fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
    url('/fonts/OpenSans-Bold/OpenSans-Bold.eot') format('eot');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff2')
      format('woff2'),
    url('/fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff')
      format('woff'),
    url('/fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.eot')
      format('eot');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff2')
      format('woff2'),
    url('/fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff')
      format('woff'),
    url('/fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot')
      format('eot');
}
