$primary-font: OpenSans, sans-serif;
$secondary-font: SourceSansPro, sans-serif;

$dark: #424248;
$gray: #707070;
$light-gray: #c7c7c7;
$light: #e3e3e3;
$ultra-light: #fbfbfb;
$white: #ffffff;

$primary-base: #34a5f7;
$accent-base: #f7347a;
