@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.root {
  font-weight: 700;
  font-style: italic;
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text {
  margin-right: 10px;
  color: $dark;
}

.light .text {
  color: $white;
}

.light .icon {
  color: $primary-base;
}

.dark .text {
  color: $dark;
}

.dark .icon {
  color: $accent-base;
}
